export FILEBASE_API_KEY=$(gopass show -o migaku/filebase/production_master_api_key)
export FILEBASE_API_SECRET=$(gopass show -o migaku/filebase/production_master_api_secret)
export FILEBASE_BUCKET="upload-speed-test"
